In [1]:
shopping = ["spam", "ham", "eggs", "ham"]

## Question 1.
- Extract the second element of the list.
- Extract the first to third (inclusive) element of the list.
- Extract only the last element of the list.

In [2]:
shopping[1]

'ham'

In [4]:
shopping[0:3]

['spam', 'ham', 'eggs']

In [5]:
shopping[-1]

'ham'

## Question 2.
- Append Edinburgh Waverley to the end of the list
- Add "Queen Street" to the start of the list
- Find out what index "Croy" is at in the list
- Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
- Remove "Haymarket" from the list of stops
- Remove all items from stops

In [21]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [22]:
stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [23]:
stops.insert(0, "Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [24]:
stops.index("Croy")

1

In [25]:
stops.insert(4, "Polmont")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [26]:
stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [28]:
stops.clear()
stops

[]

## Question 3.
- Return the keys, values and items from this dictionary
- Take out only the name from it
- Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary
- Delete the job description from the dictionary (Hint: look up the del function)

In [40]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [36]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [41]:
person["name"]

'Steph'

In [42]:
person.update({"email": "steph@codeclan.com"})
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True), ('email', 'steph@codeclan.com')])

In [43]:
del person["Instructor"]
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('email', 'steph@codeclan.com')])

## Question 4.
- Print out a list of the even integers
- Print the difference between the largest and smallest value
- Print True if the list contains a 2 next to a 2 somewhere.
- Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

In [311]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [50]:
for number in numbers:
    if number % 2 == 0:
        print(number)

6
2
2
6

In [51]:
print(max(numbers)-min(numbers))

98

In [119]:
for i in range(len(numbers)):
    if numbers[i] == 2 and numbers[i] == numbers[i + 1]:
        print("True")

True

In [312]:
# This is far from an ideal solution, but unfortunately I couldn't get it to work in a better way. 
# I tried "while" a loop on the condition that numbers.index(6) == True, but that didn't work. This also meant
# that I couldn't find a solution to only print sum(numbers) after all instances of 6 had been removed. 

loops = numbers.count(6)

for loops in numbers:
    first_index = numbers.index(6)
    second_index = numbers.index(7) + 1
    del numbers[first_index:second_index]

sum(numbers)

2

Question 5.

In [315]:
python_is_fun = True
python_is_weird = True

if python_is_fun == True or python_is_weird == True:
    print("Woo Python!")
else:
    print("Python is not for me!")

Python is not for me!

Question 6.

In [361]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

In [365]:
# Similar to question 4.4, this is far from an ideal solution. I worked on writing the parts
# separetly and I'm not sure why they didn't work when I tried formatting them in a more consistent
# and cleaner way.

def count_eggs(list):
    
    # Create new list containing the number of eggs from each chicken.
    new_list = [i["eggs"] for i in list]
    
    # Update the eggs for each chicken to 0 once they have been added to the new list.
    for i in list:
        i["eggs"] = 0
    
    return(sum(new_list))

In [362]:
count_eggs(chickens)

4

In [363]:
chickens

[{'name': 'Margaret', 'age': 2, 'eggs': 0},
 {'name': 'Hetty', 'age': 1, 'eggs': 0},
 {'name': 'Henrietta', 'age': 3, 'eggs': 0},
 {'name': 'Audrey', 'age': 2, 'eggs': 0},
 {'name': 'Mabel', 'age': 5, 'eggs': 0}]